<template name="navigation">
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="{{pathFor route='dashboard'}}">
                    <img src="img/conchingprofile.jpg" class="img-circle m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">Chawcooohlaaate</span>
                </div>
            </div>

            <ul class="nav" id="side-menu">
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
                </li>
                <li class="{{isActiveRoute regex='archive'}}">
                    <a href="{{pathFor route='archive'}}"> <span class="nav-label">Archive</span><span class="label label-warning pull-right">SEXY</span> </a>
                </li>

            </ul>
        </div>
    </aside>
</template>
